<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<div align="center">
    <div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>
    <h1>Update user</h1>
    <form action="#" th:action="@{/edit}" method="post" th:object="${user}">
        <input type="hidden" th:field="*{id}">

        <label>Username:</label>
        <input type="text" th:field="*{username}" /><br/>

        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br/>

        <label>Name:</label>
        <input type="text" th:field="*{name}" /><br/>

        <label>Surname:</label>
        <input type="text" th:field="*{surname}" /><br/>

        <label>Age:</label>
        <input type="number" th:field="*{age}" /><br/>

        <label>Roles:</label>
        <th:block th:each="role : ${listRoles}">
            <input type="checkbox" th:field="*{roles}" th:name="roles"
                   th:text="${role.name}" th:value="${role.id}" class="m-2" />
        </th:block><br/>

        <button type="submit">Update user</button>
    </form>
    <h3><a href="/logout">Logout</a></h3>
</div>
</body>
</html>