<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>

<div>
    <form method="POST" action="/login">
        <h2>Вход в систему</h2>
        <div>
            <h4><a href="/login">Логин</a></h4>
            <h4><a href="/new">Зарегистрироваться</a></h4>
        </div>
    </form>
</div>

</body>
</html>