<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div align="center">
  <div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>
  <h1>Registration</h1>
  <form action="#" th:action="@{/registration}" method="post" th:object="${user}">
    <label>Username:</label>
    <input type="text" th:field="*{username}" /><br/>

    <label>Password:</label>
    <input type="text" th:field="*{password}" /><br/>

    <label>Name:</label>
    <input type="text" th:field="*{name}" /><br/>

    <label>Surname:</label>
    <input type="text" th:field="*{surname}" /><br/>

    <label>Age:</label>
    <input type="number" th:field="*{age}" /><br/>

    <button type="submit">Create new user</button>
  </form>
  <h3><a href="/logout">Logout</a></h3>
</div>
</body>
</html>